$seat-available-bg: white;
$seat-available-color: #a0a0a0;
$seat-booked-bg: #a0a0a0;
$seat-booked-color: white;
$seat-unavailable-bg: black;
$seat-unavailable-color: white;

.badge-primary
{
    color: #fff;
    background-color: $seat-available-color;
    padding: 5px;
    margin: 0px 5px 5px 0px;
}
.seatrow
{
    display: inline-flex;
}
.pricing-label
{
    font-weight: bold;
    margin: 0px 0px 16px 16px;
    padding: 0;
    text-align: left;
    color: #a0a0a0;
    border-bottom: 1px solid #e2e2e2;
}
.seat-item
{
    height: 27px;
    width: 27px;
    line-height: 25px;
    margin: 3px;
    border-radius: 7px;
    font-size: 14px;
    padding-left: 5px;
}
.seat-space
{
    background-color: white;
    border: 0;
    // cursor: none;
}
.seat-available
{
    color: $seat-available-color;
    background-color: $seat-available-bg;
    font-weight: bolder;
    border: 1px solid $seat-available-color;
}
.seat-available:hover
{
    color: $seat-available-color;
    background-color: $seat-available-bg;
    border: 1px solid $seat-available-color;
}
.seat-unavailable
{
    color: $seat-unavailable-color;
    background-color: $seat-unavailable-bg;
    font-weight: bolder;
    border: 1px solid $seat-unavailable-color;
}
.seat-booked
{
    color: $seat-booked-color;
    font-weight: bolder;
    background-color: $seat-booked-bg;
    border: 1px solid $seat-booked-color;

}
.seat-item:hover
{
    cursor: pointer;
}

.seat-container
{
    overflow-x: auto;
    padding: 5% 36%;
    overflow-y: hidden;
}

.seat-screen
{
    background-color: gray;
    color: white;
    padding: 1%;
    text-align: center;
    font-weight: bolder;
}
.bookingbar
{
  z-index: 1000;
  bottom: 0;
  position: fixed;
  background: white;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
  display: inline-flex;
  width: 102%;
  
  h5
  {
    font-weight: bold;
  }

  .book-area
  {
    width: 100%;
    padding: 0;
    margin: 0;

    button 
    {
        width: 100%;
        height: 100%;
        margin: 0;
    }
  }
}

.total-amount
{
    background-color: #F17924;
    color: white;
    cursor: pointer;
}
.row-label
{
    color:black ; 
    background-color:white;
    min-width: 20px;
    font-weight: bolder;
    line-height: 32px;
}

.booking-summary
{
    display: inline-flex;
}
.summary-bar
{
    display: inline-flex;
    margin-top: 1%;
}
.no-padding
{
    padding: 0;
}
